<div class="login">
  <form name="form">
    <div class="form-line clearfix">
      <span class="icon account"></span>
      <input name="phone" type="text" placeholder="输入手机号" ng-model='user.phone' validator='required,phone'>
    </div>
    <div class="form-line clearfix">
      <span class="icon lock"></span>
      <input name="password" type="password" placeholder="输入密码" ng-model='user.password' validator='required,password'>
    </div>
    <button class="login-btn" validation-submit='form' ng-click='submit()'>登录</button>
    <button class="register-btn" ui-sref='register'>注册</button>
  </form>
</div>
